<header class="header">
  <div class="header__container container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="index.html" class="header__logo-link">
          <svg class="header__logo-icon" width="183" height="67">
            <use href="images/sprite.svg#home--svg--logo"></use>
          </svg>
        </a>
        <p class="header__text">Restart — Ваша зона автокомфорту</p>
      </div>
      <nav class="header__nav">
        <ul class="header__menu">
          <li>
            <a href="about.html" class="header__menu-link activ"
              >Про компанію</a
            >
            <div class="header__menu-line"></div>
          </li>
          <li>
            <a href="network-stc.html" class="header__menu-link activ"
              >Мережа СТЦ</a
            >
            <div class="header__menu-line"></div>
          </li>
          <li>
            <a href="#" class="header__menu-link activ">Інтернет-магазин</a>
            <div class="header__menu-line"></div>
          </li>
          <li>
            <a href="solutions.html" class="header__menu-link activ"
              >Готові рішення для СТО</a
            >
            <div class="header__menu-line"></div>
          </li>
          <li>
            <a href="contacts.html" class="header__menu-link activ">Контакти</a>
            <div class="header__menu-line"></div>
          </li>
        </ul>
      </nav>
      <button class="header__burger menu-btn-open" type="button">
        <picture>
          <source
            srcset="./images/home/open-menu-tab.webp"
            media="(max-width: 768px)"
          />
          <img src="./images/home/open-menu-mob.webp" alt="" />
        </picture>
      </button>
      @@include("../components/mob-menu.html")
    </div>
  </div>
</header>
