<div class="mobile-menu">
  <button class="mobile-menu__btn-close menu-btn-close" type="button">
    <svg width="22" height="23">
      <use href="./images/sprite.svg#home--svg--close-menu"></use>
    </svg>
  </button>
  <ul class="mobile-menu__list">
    <li>
      <a href="about.html" class="mobile-menu__link">Про компанію</a>
    </li>
    <li>
      <a href="network-stc.html" class="mobile-menu__link">Мережа СТЦ</a>
    </li>
    <li>
      <a href="#" class="mobile-menu__link">Інтернет-магазин</a>
    </li>
    <li>
      <a href="solutions.html" class="mobile-menu__link"
        >Готові рішення для СТО</a
      >
    </li>
    <li>
      <a href="contacts.html" class="mobile-menu__link">Контакти</a>
    </li>
  </ul>
</div>
