.about-video {
  &__container {
    @media screen and (min-width: $bp-tablet) {
      padding: 0 29px 0 30px;
    }
    @media screen and (min-width: $bp-laptop) {
        padding: 0;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 220px;
    width: 100%;
    max-width: 1920px;
    background: #000;
    overflow: hidden;
    @media screen and (min-width: $bp-tablet) {
      height: 277px;
    }
    @media screen and (min-width: $bp-laptop) {
        height: 220px;
    }
  }
  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  &__icon-play {
    @media screen and (min-width: $bp-tablet) {
      width: 41px;
      height: 40px;
    }
    @media screen and (min-width: $bp-desktop) {
        width: 100px;
      height: 100px;
    }
  }
}
